<form [formGroup]="loginForm">
    <p class="text-danger">{{loginError}}</p>
    <div class="mb-3">
        <label for="inputUsernameLogin" class="form-label">Email address</label>
        <input formControlName="username" type="email" class="form-control" id="inputUsernameLogin"
            aria-describedby="emailHelp">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
            <div *ngIf="username.errors?.['required']">
                El Email es requerido.
            </div>
            <div *ngIf="username.errors?.['username']">
                El Email debe tener un formato válido.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="inputPasswordLogin" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="inputPasswordLogin">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.errors?.['required']">
                El Password es requerido.
            </div>
        </div>
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
</form>